.app-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 7fr;
    overflow: hidden;
}

app-sidebar{
    display: grid;
    grid-column: 1;
    margin:0;
}

app-edit{
    display: grid;
    grid-column: 2;
}