/* App.css */

.app-container {
  display: flex;
  height: 100vh; /* 100% de la altura de la ventana */
}

/* Aplicamos estilos a Sidebar y Editor como si fueran divs */
.app-container > :first-child {
  width: 30%;
  overflow: auto; /* Agregar barras de desplazamiento si el contenido es demasiado largo */
  border-right: 1px solid #ccc; /* Línea divisoria entre Sidebar y Editor */
}

.app-container > :last-child {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}
