<div class="container">
    <div class="nav-bar">
      <ng-container *ngIf="!editing; else editMode">
        <div class="title-bar">
          <h2>{{ note.title }}</h2>
          <button *ngIf="note.content" (click)="toggleEditing()">Editar</button>
          <button *ngIf="note.content" (click)="deleteNote()">Elimiar</button>
          <button *ngIf="!note.content" (click)="getSharedNote()">Buscar Nota compartida</button>
          <p *ngIf="note.shared">Compartida en: {{ note.shared }}</p>
        </div>
        <div class="actions">
          <button *ngIf="note.content" (click)="shareNote()">Compartir</button>
        </div>
      </ng-container>
      <ng-template #editMode>
        <input [(ngModel)]="note.title" placeholder="Título">
      </ng-template>
    </div>
    <div class="editor">
      <ng-container *ngIf="!editing; else editModeContent">
        <div markdown *ngIf="note.content">{{ note.content }}</div>
        <button *ngIf="!note.content" disabled><h1>¡Bienvenido a ColabNote!</h1></button>
      </ng-container>
      <ng-template #editModeContent>
        <textarea [(ngModel)]="note.content"></textarea>
        <div class="note-buttons">
            <button (click)="saveChanges()">Guardar Cambios</button>
            <button (click)="cancelEditing()">Cancelar</button>
        </div>
      </ng-template>
    </div>
  </div>
  